// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-content {
    padding: 15px;
    border-bottom: 1px solid rgb(141, 140, 140);
}

form {
    padding-top: 15px;
}